{% extends "layout/default/template.twig" %}
{% block title %}Bienvenidos{% endblock %}

{% block content %}
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-secondary">Bienvenidos a AxiomaFrame</h1>
        <p class="lead text-muted">Una propuesta de desarrollo de software simple, escalable, basado en buenas prácticas de programación y el uso de MVC (Modelo-vista-Controlador) como patrón de diseño.</p>
        <p>
        <p class="lead text-muted">Te ofrecemos una manera sencilla de crear software altamente escalable a partir de configuraciones mínimas, pero si tu proyecto crece, podrás utilizar todas las herramientas que desees.</p>
        <p>
        <p class="lead text-muted"><strong>AxiomaFrame</strong>... sencillamente simple.</p>
        <p>
            <a href="https://github.com/segundogaldames/axiomaframe/blob/main/README.md" target="_blank" class="btn btn-secondary my-2">Mas Información</a>
            <a href="https://github.com/segundogaldames/axiomaframe/blob/main/DOCUMENT.md" target="_blank" class="btn btn-secondary my-2">Documentación</a>
        </p>
    </div>
{% endblock %}