{% extends "layout/default/template.twig" %}
{% block title %}Error de Acceso{% endblock %}
{% block content %}
    <main class="app-content">
        <div class="page-error tile">
            <h1><i class="fa fa-exclamation-circle"></i> Error 404: {{message}}</h1>
            
            <p><a class="btn btn-primary" href="javascript:window.history.back();">Volver</a></p>
        </div>
    </main>
{% endblock %}